{
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "mourner",
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "never"],
    "no-lonely-if": "off",
    "no-loop-func": "off"
  }
}